@keyframes toBlack {
  from {
    background-color: white; 
    color: black;
  }
  to {
    background-color: #171717; 
    color: white;
  }
}

@keyframes toWhite {
	from {
    background-color: #171717; 
    color: white;
	}	
	to {
		background-color: white; 
		color: black;
	}
}

.normalny {
  background-color: white; 
  color: black;
}

.hidden {
	display: none;
}

.tmavy-rezim {
  background-color: #171717; 
  color: white;
}

.animovany {
  animation-name: toBlack;
  animation-duration: 1s;
}

.animovanyWhite {
  animation-name: toWhite;
  animation-duration: 1s;
}